<div class="home-page">

  <nav class="navbar">

    <a routerLink="/" class="logo">
      CLOSET
    </a>

    <div class="nav-links">
      <a routerLink="/">Home</a>
      <a routerLink="/shop">Shop</a>
    </div>

  </nav>

  <main class="hero">

    <p class="small-title">
      EVERYDAY CLOTHING
    </p>

    <h1>
      Simple clothes.<br>
      Easy style.
    </h1>

    <p class="description">
      A simple clothing collection made for everyday wear.
    </p>

    <a routerLink="/shop" class="shop-button">
      View Collection
    </a>

  </main>

</div>